BancaInternet/Service References/wsPrestamo/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BancaInternet.EN" />
  <xs:element name="WSObtenerCuentasActivasCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sValor1" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WSObtenerCuentasActivasClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BancaInternet.EN" minOccurs="0" name="WSObtenerCuentasActivasClienteResult" nillable="true" type="q1:ArrayOfenPrestamo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WSObtenerDetalleCreditosActivosCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sValor1" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WSObtenerDetalleCreditosActivosClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BancaInternet.EN" minOccurs="0" name="WSObtenerDetalleCreditosActivosClienteResult" nillable="true" type="q2:enPrestamo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WSObtenerCronograma">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sValor1" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WSObtenerCronogramaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BancaInternet.EN" minOccurs="0" name="WSObtenerCronogramaResult" nillable="true" type="q3:ArrayOfenCronograma" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>