BancaInternet/Service References/wsPrestamo/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wsPrestamo" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/BancaInternet.EN" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IwsPrestamo_WSObtenerCuentasActivasCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:WSObtenerCuentasActivasCliente" />
  </wsdl:message>
  <wsdl:message name="IwsPrestamo_WSObtenerCuentasActivasCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:WSObtenerCuentasActivasClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IwsPrestamo_WSObtenerDetalleCreditosActivosCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:WSObtenerDetalleCreditosActivosCliente" />
  </wsdl:message>
  <wsdl:message name="IwsPrestamo_WSObtenerDetalleCreditosActivosCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:WSObtenerDetalleCreditosActivosClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IwsPrestamo_WSObtenerCronograma_InputMessage">
    <wsdl:part name="parameters" element="tns:WSObtenerCronograma" />
  </wsdl:message>
  <wsdl:message name="IwsPrestamo_WSObtenerCronograma_OutputMessage">
    <wsdl:part name="parameters" element="tns:WSObtenerCronogramaResponse" />
  </wsdl:message>
  <wsdl:portType name="IwsPrestamo">
    <wsdl:operation name="WSObtenerCuentasActivasCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsPrestamo/WSObtenerCuentasActivasCliente" message="tns:IwsPrestamo_WSObtenerCuentasActivasCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsPrestamo/WSObtenerCuentasActivasClienteResponse" message="tns:IwsPrestamo_WSObtenerCuentasActivasCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WSObtenerDetalleCreditosActivosCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsPrestamo/WSObtenerDetalleCreditosActivosCliente" message="tns:IwsPrestamo_WSObtenerDetalleCreditosActivosCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsPrestamo/WSObtenerDetalleCreditosActivosClienteResponse" message="tns:IwsPrestamo_WSObtenerDetalleCreditosActivosCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WSObtenerCronograma">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsPrestamo/WSObtenerCronograma" message="tns:IwsPrestamo_WSObtenerCronograma_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsPrestamo/WSObtenerCronogramaResponse" message="tns:IwsPrestamo_WSObtenerCronograma_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IwsPrestamo" type="tns:IwsPrestamo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSObtenerCuentasActivasCliente">
      <soap:operation soapAction="http://tempuri.org/IwsPrestamo/WSObtenerCuentasActivasCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSObtenerDetalleCreditosActivosCliente">
      <soap:operation soapAction="http://tempuri.org/IwsPrestamo/WSObtenerDetalleCreditosActivosCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSObtenerCronograma">
      <soap:operation soapAction="http://tempuri.org/IwsPrestamo/WSObtenerCronograma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsPrestamo">
    <wsdl:port name="BasicHttpBinding_IwsPrestamo" binding="tns:BasicHttpBinding_IwsPrestamo">
      <soap:address location="http://localhost:8733/BancaInternet.WS/wsPrestamo/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>