BancaInternet/Service References/wsCuenta/BancaInternet.EN.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BancaInternet.EN" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BancaInternet.EN" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfenCuenta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="enCuenta" nillable="true" type="tns:enCuenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfenCuenta" nillable="true" type="tns:ArrayOfenCuenta" />
  <xs:complexType name="enCuenta">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:enBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="nNumeroTransaccion" type="xs:decimal" />
          <xs:element minOccurs="0" name="nTipoCodigoProducto" type="xs:decimal" />
          <xs:element minOccurs="0" name="sCanal" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sCodigoEstado" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sCodigoSiscredinka" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sDescripcionMovimiento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sEstadoCuenta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sFechaMovimiento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sFechaVencimiento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sIdentificador" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sIndicadorMovimiento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sMontoMovimiento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sNombreCompletoCliente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sNombreProducto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sNumeroCuenta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sProducto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sSaldo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sSaldoContable" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sSaldoDisponible" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sSigno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sTipoMoneda" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="enCuenta" nillable="true" type="tns:enCuenta" />
  <xs:complexType name="enBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="AjaxError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AjaxResultado" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroPagina" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroRegistros" type="xs:int" />
      <xs:element minOccurs="0" name="RowNumber" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRegistros" type="xs:int" />
      <xs:element minOccurs="0" name="bEliminado" type="xs:boolean" />
      <xs:element minOccurs="0" name="dtAudFechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dtAudFechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="vAudFechaCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vAudFechaModificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vAudIPCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vAudIPModificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vAudMACCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vAudMACModificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vAudNombreUsuarioCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vAudNombreUsuarioModificacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="enBase" nillable="true" type="tns:enBase" />
</xs:schema>