BancaInternet/Service References/wsCuenta/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BancaInternet.EN" />
  <xs:element name="WSObtenerCuentasPasivasCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sValor1" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WSObtenerCuentasPasivasClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BancaInternet.EN" minOccurs="0" name="WSObtenerCuentasPasivasClienteResult" nillable="true" type="q1:ArrayOfenCuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WSObtenerDetalleCuentasPasivasCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valor1" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WSObtenerDetalleCuentasPasivasClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BancaInternet.EN" minOccurs="0" name="WSObtenerDetalleCuentasPasivasClienteResult" nillable="true" type="q2:enCuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WSObtenerMovimientosCuentaPasivasCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sValor1" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WSObtenerMovimientosCuentaPasivasClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BancaInternet.EN" minOccurs="0" name="WSObtenerMovimientosCuentaPasivasClienteResult" nillable="true" type="q3:ArrayOfenCuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>