BancaInternet/Service References/wsCuenta/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wsCuenta" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/BancaInternet.EN" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IwsCuenta_WSObtenerCuentasPasivasCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:WSObtenerCuentasPasivasCliente" />
  </wsdl:message>
  <wsdl:message name="IwsCuenta_WSObtenerCuentasPasivasCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:WSObtenerCuentasPasivasClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IwsCuenta_WSObtenerDetalleCuentasPasivasCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:WSObtenerDetalleCuentasPasivasCliente" />
  </wsdl:message>
  <wsdl:message name="IwsCuenta_WSObtenerDetalleCuentasPasivasCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:WSObtenerDetalleCuentasPasivasClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IwsCuenta_WSObtenerMovimientosCuentaPasivasCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:WSObtenerMovimientosCuentaPasivasCliente" />
  </wsdl:message>
  <wsdl:message name="IwsCuenta_WSObtenerMovimientosCuentaPasivasCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:WSObtenerMovimientosCuentaPasivasClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IwsCuenta">
    <wsdl:operation name="WSObtenerCuentasPasivasCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsCuenta/WSObtenerCuentasPasivasCliente" message="tns:IwsCuenta_WSObtenerCuentasPasivasCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsCuenta/WSObtenerCuentasPasivasClienteResponse" message="tns:IwsCuenta_WSObtenerCuentasPasivasCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WSObtenerDetalleCuentasPasivasCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsCuenta/WSObtenerDetalleCuentasPasivasCliente" message="tns:IwsCuenta_WSObtenerDetalleCuentasPasivasCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsCuenta/WSObtenerDetalleCuentasPasivasClienteResponse" message="tns:IwsCuenta_WSObtenerDetalleCuentasPasivasCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WSObtenerMovimientosCuentaPasivasCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsCuenta/WSObtenerMovimientosCuentaPasivasCliente" message="tns:IwsCuenta_WSObtenerMovimientosCuentaPasivasCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsCuenta/WSObtenerMovimientosCuentaPasivasClienteResponse" message="tns:IwsCuenta_WSObtenerMovimientosCuentaPasivasCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IwsCuenta" type="tns:IwsCuenta">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSObtenerCuentasPasivasCliente">
      <soap:operation soapAction="http://tempuri.org/IwsCuenta/WSObtenerCuentasPasivasCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSObtenerDetalleCuentasPasivasCliente">
      <soap:operation soapAction="http://tempuri.org/IwsCuenta/WSObtenerDetalleCuentasPasivasCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSObtenerMovimientosCuentaPasivasCliente">
      <soap:operation soapAction="http://tempuri.org/IwsCuenta/WSObtenerMovimientosCuentaPasivasCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsCuenta">
    <wsdl:port name="BasicHttpBinding_IwsCuenta" binding="tns:BasicHttpBinding_IwsCuenta">
      <soap:address location="http://localhost:8733/BancaInternet.WS/wsCuenta/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>