BancaInternet/Service References/wsDescripcion/BancaInternet.EN.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BancaInternet.EN" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BancaInternet.EN" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfenDescripcion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="enDescripcion" nillable="true" type="tns:enDescripcion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfenDescripcion" nillable="true" type="tns:ArrayOfenDescripcion" />
  <xs:complexType name="enDescripcion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:enBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="bActivo" type="xs:boolean" />
          <xs:element minOccurs="0" name="iCodigoDominioHijo" type="xs:int" />
          <xs:element minOccurs="0" name="iIdDominio" type="xs:int" />
          <xs:element minOccurs="0" name="iIdParametro" type="xs:int" />
          <xs:element minOccurs="0" name="iValor1" type="xs:int" />
          <xs:element minOccurs="0" name="sDescripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sNombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sRutaCompleta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sValor1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sValor2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sValor3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sValor4" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sValor5" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="enDescripcion" nillable="true" type="tns:enDescripcion" />
  <xs:complexType name="enBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="AjaxError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AjaxResultado" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroPagina" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroRegistros" type="xs:int" />
      <xs:element minOccurs="0" name="RowNumber" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRegistros" type="xs:int" />
      <xs:element minOccurs="0" name="bEliminado" type="xs:boolean" />
      <xs:element minOccurs="0" name="dtAudFechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dtAudFechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="vAudFechaCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vAudFechaModificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vAudIPCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vAudIPModificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vAudMACCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vAudMACModificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vAudNombreUsuarioCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vAudNombreUsuarioModificacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="enBase" nillable="true" type="tns:enBase" />
  <xs:complexType name="ArrayOfenDescripcionSiscredinka">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="enDescripcionSiscredinka" nillable="true" type="tns:enDescripcionSiscredinka" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfenDescripcionSiscredinka" nillable="true" type="tns:ArrayOfenDescripcionSiscredinka" />
  <xs:complexType name="enDescripcionSiscredinka">
    <xs:sequence>
      <xs:element minOccurs="0" name="sDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sValor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="enDescripcionSiscredinka" nillable="true" type="tns:enDescripcionSiscredinka" />
</xs:schema>