BancaInternet/Service References/wsDescripcion/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wsDescripcion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/BancaInternet.EN" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IwsDescripcion_WSListarValoresParametros_InputMessage">
    <wsdl:part name="parameters" element="tns:WSListarValoresParametros" />
  </wsdl:message>
  <wsdl:message name="IwsDescripcion_WSListarValoresParametros_OutputMessage">
    <wsdl:part name="parameters" element="tns:WSListarValoresParametrosResponse" />
  </wsdl:message>
  <wsdl:message name="IwsDescripcion_WSObtenerArchivosHomeBanking_InputMessage">
    <wsdl:part name="parameters" element="tns:WSObtenerArchivosHomeBanking" />
  </wsdl:message>
  <wsdl:message name="IwsDescripcion_WSObtenerArchivosHomeBanking_OutputMessage">
    <wsdl:part name="parameters" element="tns:WSObtenerArchivosHomeBankingResponse" />
  </wsdl:message>
  <wsdl:message name="IwsDescripcion_WSListarValoresParametrosSiscredinka_InputMessage">
    <wsdl:part name="parameters" element="tns:WSListarValoresParametrosSiscredinka" />
  </wsdl:message>
  <wsdl:message name="IwsDescripcion_WSListarValoresParametrosSiscredinka_OutputMessage">
    <wsdl:part name="parameters" element="tns:WSListarValoresParametrosSiscredinkaResponse" />
  </wsdl:message>
  <wsdl:message name="IwsDescripcion_WSBusquedaActividadesEconomicasCIIU_InputMessage">
    <wsdl:part name="parameters" element="tns:WSBusquedaActividadesEconomicasCIIU" />
  </wsdl:message>
  <wsdl:message name="IwsDescripcion_WSBusquedaActividadesEconomicasCIIU_OutputMessage">
    <wsdl:part name="parameters" element="tns:WSBusquedaActividadesEconomicasCIIUResponse" />
  </wsdl:message>
  <wsdl:message name="IwsDescripcion_WSAfiliacionBusquedaActividadesCIIU_InputMessage">
    <wsdl:part name="parameters" element="tns:WSAfiliacionBusquedaActividadesCIIU" />
  </wsdl:message>
  <wsdl:message name="IwsDescripcion_WSAfiliacionBusquedaActividadesCIIU_OutputMessage">
    <wsdl:part name="parameters" element="tns:WSAfiliacionBusquedaActividadesCIIUResponse" />
  </wsdl:message>
  <wsdl:portType name="IwsDescripcion">
    <wsdl:operation name="WSListarValoresParametros">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsDescripcion/WSListarValoresParametros" message="tns:IwsDescripcion_WSListarValoresParametros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsDescripcion/WSListarValoresParametrosResponse" message="tns:IwsDescripcion_WSListarValoresParametros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WSObtenerArchivosHomeBanking">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsDescripcion/WSObtenerArchivosHomeBanking" message="tns:IwsDescripcion_WSObtenerArchivosHomeBanking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsDescripcion/WSObtenerArchivosHomeBankingResponse" message="tns:IwsDescripcion_WSObtenerArchivosHomeBanking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WSListarValoresParametrosSiscredinka">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsDescripcion/WSListarValoresParametrosSiscredinka" message="tns:IwsDescripcion_WSListarValoresParametrosSiscredinka_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsDescripcion/WSListarValoresParametrosSiscredinkaResponse" message="tns:IwsDescripcion_WSListarValoresParametrosSiscredinka_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaActividadesEconomicasCIIU">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsDescripcion/WSBusquedaActividadesEconomicasCIIU" message="tns:IwsDescripcion_WSBusquedaActividadesEconomicasCIIU_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsDescripcion/WSBusquedaActividadesEconomicasCIIUResponse" message="tns:IwsDescripcion_WSBusquedaActividadesEconomicasCIIU_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WSAfiliacionBusquedaActividadesCIIU">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsDescripcion/WSAfiliacionBusquedaActividadesCIIU" message="tns:IwsDescripcion_WSAfiliacionBusquedaActividadesCIIU_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsDescripcion/WSAfiliacionBusquedaActividadesCIIUResponse" message="tns:IwsDescripcion_WSAfiliacionBusquedaActividadesCIIU_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IwsDescripcion" type="tns:IwsDescripcion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSListarValoresParametros">
      <soap:operation soapAction="http://tempuri.org/IwsDescripcion/WSListarValoresParametros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSObtenerArchivosHomeBanking">
      <soap:operation soapAction="http://tempuri.org/IwsDescripcion/WSObtenerArchivosHomeBanking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSListarValoresParametrosSiscredinka">
      <soap:operation soapAction="http://tempuri.org/IwsDescripcion/WSListarValoresParametrosSiscredinka" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaActividadesEconomicasCIIU">
      <soap:operation soapAction="http://tempuri.org/IwsDescripcion/WSBusquedaActividadesEconomicasCIIU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSAfiliacionBusquedaActividadesCIIU">
      <soap:operation soapAction="http://tempuri.org/IwsDescripcion/WSAfiliacionBusquedaActividadesCIIU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsDescripcion">
    <wsdl:port name="BasicHttpBinding_IwsDescripcion" binding="tns:BasicHttpBinding_IwsDescripcion">
      <soap:address location="http://localhost:8733/BancaInternet.WS/wsDescripcion/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>