BancaInternet/Service References/wsUbigeo/BancaInternet.EN.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BancaInternet.EN" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BancaInternet.EN" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfenUbigeo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="enUbigeo" nillable="true" type="tns:enUbigeo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfenUbigeo" nillable="true" type="tns:ArrayOfenUbigeo" />
  <xs:complexType name="enUbigeo">
    <xs:sequence>
      <xs:element minOccurs="0" name="sCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sDescripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="enUbigeo" nillable="true" type="tns:enUbigeo" />
  <xs:complexType name="ArrayOfenDescripcionSiscredinka">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="enDescripcionSiscredinka" nillable="true" type="tns:enDescripcionSiscredinka" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfenDescripcionSiscredinka" nillable="true" type="tns:ArrayOfenDescripcionSiscredinka" />
  <xs:complexType name="enDescripcionSiscredinka">
    <xs:sequence>
      <xs:element minOccurs="0" name="sDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sValor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="enDescripcionSiscredinka" nillable="true" type="tns:enDescripcionSiscredinka" />
</xs:schema>