BancaInternet/Service References/wsUbigeo/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BancaInternet.EN" />
  <xs:element name="WSObtenerDepartamentos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WSObtenerDepartamentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BancaInternet.EN" minOccurs="0" name="WSObtenerDepartamentosResult" nillable="true" type="q1:ArrayOfenUbigeo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WSObtenerProvinciaPorDepartamentos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sValor1" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WSObtenerProvinciaPorDepartamentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BancaInternet.EN" minOccurs="0" name="WSObtenerProvinciaPorDepartamentosResult" nillable="true" type="q2:ArrayOfenUbigeo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WSObtenerDistritosPorProvincia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sValor1" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WSObtenerDistritosPorProvinciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BancaInternet.EN" minOccurs="0" name="WSObtenerDistritosPorProvinciaResult" nillable="true" type="q3:ArrayOfenUbigeo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WSAfiliacionBusquedaUbigeo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sValor1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sValor2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WSAfiliacionBusquedaUbigeoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BancaInternet.EN" minOccurs="0" name="WSAfiliacionBusquedaUbigeoResult" nillable="true" type="q4:ArrayOfenDescripcionSiscredinka" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>