BancaInternet/Service References/wsTipoCambio/BancaInternet.EN.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BancaInternet.EN" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BancaInternet.EN" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="enTipoCambio">
    <xs:sequence>
      <xs:element minOccurs="0" name="nTipoCompraME" type="xs:decimal" />
      <xs:element minOccurs="0" name="nTipoVentaME" type="xs:decimal" />
      <xs:element minOccurs="0" name="sFechaTipoCambio" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="enTipoCambio" nillable="true" type="tns:enTipoCambio" />
</xs:schema>