BancaInternet/Service References/wsTipoCambio/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BancaInternet.EN" />
  <xs:element name="WSObtenerTipoCambioDelDia">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WSObtenerTipoCambioDelDiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BancaInternet.EN" minOccurs="0" name="WSObtenerTipoCambioDelDiaResult" nillable="true" type="q1:enTipoCambio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>